<div class="h-page flex justify-center items-center bg-img overflow-y-auto">
  <div class="card__container rounded-lg bg-white w-full">
    <!-- Logo -->
    <div class="text-center">
      <app-logo></app-logo>
    </div>

    <h3 class="text-center text-xl font-bold spacing-wide mt-sm">
      Forgot Your Password?
    </h3>
    <p
      class="text-center mt-xs text-grey-secondary spacing-wide leading-7 font-semibold mb-sm">
      No worries, just enter your registered email address!
    </p>

    <!-- API Error -->
    <ng-container *ngIf="alertConfig.title && !isLoading">
      <app-alert
        [type]="alertConfig.type"
        [title]="alertConfig.title"></app-alert>
    </ng-container>

    <!-- Form -->
    <form
      [formGroup]="form"
      class="mt-md"
      novalidate
      autocomplete="off"
      spellcheck="false"
      (ngSubmit)="onSubmit()">
      <!-- Email -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input
          type="email"
          autofocus
          formControlName="email"
          matInput
          placeholder="email@example.com"
          required
          name="email" />
        <mat-icon class="icon-light" matSuffix>mail_outline</mat-icon>

        <!-- Errors -->
        <mat-error *ngIf="email?.invalid">
          <ng-container *ngIf="email?.errors?.['required']">{{
            formErrors['emailRequired']
          }}</ng-container>
          <ng-container *ngIf="email?.errors?.['email']">{{
            formErrors['invalidEmail']
          }}</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Submit -->
      <button
        type="submit"
        [disabled]="isLoading"
        mat-raised-button
        color="primary"
        class="w-full mt-sm font-bold text-white h-12">
        <span [hidden]="isLoading">RESET PASSWORD</span>
        <fa-icon
          [hidden]="!isLoading"
          icon="circle-notch"
          class="color-theme"
          [spin]="true"
          size="xl"></fa-icon>
      </button>

      <!-- Back to login -->
      <div class="text-center mt-sm">
        <a routerLink="/auth/login">
          <span class="text-sm font-bold text-grey spacing-wide"
            >Back to login</span
          >
        </a>
      </div>
    </form>
  </div>
</div>
