.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebarWidth);
  background-color: var(--sidebarBgColor);
  z-index: 4;
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
}

.layout__container {
  will-change: margin;
  transition: margin 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
}

@media screen and (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);

    &--open {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(0);

    &--open {
      transform: translateX(-100%);
    }
  }

  .layout__container {
    margin-left: var(--sidebarWidth);
  }

  .sidebar--open + .layout__container {
    margin-left: 0;
  }
}
