<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.sidebar__open]="isSidebarOpen">
    <app-sidebar></app-sidebar>
  </aside>
  <div class="layout__container">
    <!-- Header -->
    <header class="header">
      <app-header (menuClicked)="toggleSidebar()"></app-header>
    </header>
    <main class="layout__content overflow-y-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<app-backdrop *ngIf="isSidebarOpen" (backdropClicked)="toggleSidebar()">
</app-backdrop>
