<div class="layout">
  <!-- Sidebar -->
  <aside
    class="sidebar"
    [class.sidebar--open]="isSidebarOpen"
    role="presentation">
    <app-sidebar></app-sidebar>
  </aside>
  <div class="layout__container">
    <!-- Header -->
    <header class="header" role="banner">
      <app-header (menuClicked)="toggleSidebar()"></app-header>
    </header>
    <main class="layout__content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<app-backdrop *ngIf="isSidebarOpen" (backdropClicked)="toggleSidebar()">
</app-backdrop>
