.color-theme {
  color: var(--colorPrimary);
}

.icon-light {
  color: rgba(0, 0, 0, 0.45);
}

// ======================== White pallete ================================

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

// ======================== Grey pallete ================================

.text-grey {
  color: rgba(0, 0, 0, 0.45);
}
