// ========================= Paddings =============================

.p-xs {
  padding: 6px;
}

.p-md {
  padding: 1rem;
}

// ========================= Margins =============================

.mt-xs {
  margin-top: 0.5rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 2rem;
}

.ml-xs {
  margin-left: 0.5rem;
}
