@use "@angular/material" as mat;

@include mat.core();

$color-primary: mat.define-palette(mat.$orange-palette, 700);

$color-accent: mat.define-palette(mat.$green-palette, 500);

$color-warn: mat.define-palette(mat.$red-palette);

:root {
  --colorPrimary: #f57c00;
}

$app-typography: mat.define-typography-config(
  $font-family: "Open Sans",
);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $color-primary,
      accent: $color-accent,
      warn: $color-warn,
    ),
    typography: $app-typography,
  )
);

@include mat.all-component-themes($app-theme);
