<div class="flex items-center justify-between">
  <h1 class="page-title">Users</h1>
  <button
    mat-stroked-button
    color="primary"
    class="font-mediumbold"
    (click)="addClickHandler()">
    ADD USER
  </button>
</div>

<div class="mat-elevation-z8 mt-xs">
  <div class="table__container">
    <!-- Table -->

    <table mat-table [dataSource]="users">
      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row" class="titlecase">
          {{ row.first_name + ' ' + row.last_name }}
        </td>
      </ng-container>

      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>

      <!-- Phone -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Contact</th>
        <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
      </ng-container>

      <!-- Role -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let row" class="uppercase">
          {{ rolesMapping[row.role_id] }}
        </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" class="uppercase">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editClickHandler(row)">
              <mat-icon class="icon--light">edit</mat-icon>
              <span>Edit user</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="icon--light">delete</mat-icon>
              <span>Delete user</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <!-- No data -->
    <p
      *ngIf="!isLoading && users.length === 0"
      class="p-md font-semibold text-sm">
      No Data available
    </p>
  </div>

  <!-- Pagination -->
  <ng-container *ngIf="paginationParams.totalRecords > 0">
    <mat-paginator
      [length]="paginationParams.totalRecords"
      [pageSize]="paginationParams.limit"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEventHandler($event)"
      aria-label="Select page">
    </mat-paginator>
  </ng-container>
</div>

<!-- Loader -->
<app-loader *ngIf="isLoading"></app-loader>

<!-- Drawer -->
<app-drawer [isVisible]="isDrawerVisible">
  <app-add
    *ngIf="drawerVisibilityBooleans.ADD"
    (closeClicked)="closeClickHandler($event)"
    (userAdded)="refreshUsersAndCloseDrawer($event)">
  </app-add>

  <app-edit
    *ngIf="drawerVisibilityBooleans.EDIT"
    [user]="selectedUserForEdit"
    (closeClicked)="closeClickHandler($event)"
    (userUpdated)="refreshUsersAndCloseDrawer($event)">
  </app-edit>
</app-drawer>
