<div class="flex items-center justify-between">
  <h1 class="page-title">Users</h1>
  <button
    mat-stroked-button
    color="primary"
    class="font-mediumbold"
    (click)="addClickHandler()">
    ADD USER
  </button>
</div>

<div class="table__container mt-xs mat-elevation-z2">
  <!-- Table -->

  <table mat-table [dataSource]="users">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row" class="titlecase">
        {{ row.first_name + ' ' + row.last_name }}
      </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <!-- Phone -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Contact</th>
      <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let row" class="uppercase">
        {{ rolesMapping[row.role_id] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <!-- No data -->
  <p
    *ngIf="!isLoading && users.length === 0"
    class="p-md font-semibold text-sm">
    No Data available
  </p>
</div>

<!-- Loader -->
<app-loader *ngIf="isLoading"></app-loader>

<!-- Drawer -->
<app-drawer [isVisible]="isDrawerVisible">
  <router-outlet></router-outlet>
</app-drawer>
