<div class="h-page flex justify-center items-center bg-img">
  <div class="card__container rounded-lg bg-white w-full">
    <div class="text-center">
      <img
        src="assets/images/email-sent.webp"
        width="173"
        height="155"
        alt="Email sent image"
        aria-label="Email sent" />
    </div>

    <div class="text-center">
      <h3 class="text-xl font-bold spacing-wide mt-sm">Email Sent!</h3>
      <p class="mt-sm text-grey-secondary leading-7 font-medium">
        You are all set, please check your inbox and follow the instructions to
        reset your password.
      </p>

      <!-- Back to login -->
      <a routerLink="../login" class="mt-md block">
        <span class="text-sm font-bold text-grey spacing-wide"
          >Back to login</span
        >
      </a>
    </div>
  </div>
</div>
