<div class="h-page flex justify-center items-center bg-img">
  <div class="card__container rounded bg-white w-full">
    <!-- Logo -->
    <img src="assets/images/logo/logo.webp" width="100%" alt="Code Syndicates logo">

    <div class="text-center">
      <img src="assets/images/email-sent.webp" width="173" height="155" class="mt-md" alt="Email sent image">
    </div>

    <div class="text-center">
      <h3 class="text-base font-normal spacing-wide mt-sm">Email Sent! </h3>
      <p class="mt-sm text-grey-secondary leading-7">
        You are all set, please check your inbox and follow the instructions to reset your password.
      </p>

      <!-- Back to login -->
      <a routerLink="../login" class="mt-md block">
        <span class="text-sm font-bold text-grey spacing-wide">Back to login</span>
      </a>
    </div>
  </div>
</div>