<app-drawer-content (closeClicked)="closeClickHandler()">
  <!-- Title -->
  <ng-container title>Add new user</ng-container>

  <!-- Body -->
  <ng-container body>
    <form [formGroup]="form" novalidate autocomplete="off" spellcheck="false">
      <div class="flex gap-2">
        <!-- First name -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>First name</mat-label>
          <input
            type="text"
            matInput
            placeholder="John"
            formControlName="firstName"
            required />
        </mat-form-field>

        <!-- Last name -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Last name</mat-label>
          <input
            type="text"
            matInput
            placeholder="Doe"
            formControlName="lastName"
            required />
        </mat-form-field>
      </div>

      <!-- Email -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="email@example.com"
          formControlName="email"
          required />
      </mat-form-field>

      <!-- Phone -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Phone number</mat-label>
        <input
          type="tel"
          matInput
          placeholder="0000000000"
          formControlName="phone"
          required
          maxlength="10" />
      </mat-form-field>

      <!-- Role -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Role id</mat-label>
        <mat-select formControlName="roleId" name="role">
          <mat-option *ngFor="let role of rolesList" [value]="role.id">
            {{ role.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </ng-container>

  <!-- Footer -->
  <ng-container footer>
    <div class="flex justify-center">
      <button
        type="submit"
        [disabled]="isLoading"
        mat-raised-button
        color="primary"
        class="font-bold text-white"
        (click)="onSubmit()">
        <span [hidden]="isLoading">ADD USER</span>
        <fa-icon
          [hidden]="!isLoading"
          icon="circle-notch"
          class="color-theme"
          [spin]="true"
          size="xl"></fa-icon>
      </button>
    </div>
  </ng-container>
</app-drawer-content>
