<div class="h-page flex justify-center items-center bg-img">
  <div class="card__container rounded bg-white w-full">
    <!-- Logo -->
    <img src="assets/images/logo/logo.webp" width="100%" alt="Code Syndicates logo">

    <h3 class="text-center text-base font-normal spacing-wide mt-sm">Forgot Your Password? </h3>
    <p class="text-center mt-sm text-grey-secondary spacing-wide leading-7">No worries, just enter your registered email address!
    </p>

    <!-- API Error -->
    <div class="mt-sm" *ngIf="emailVerificationFailed && !isLoading">
      <app-alert type="error" [title]="formErrors['forgotPasswordFailed']"></app-alert>
    </div>

    <!-- Form -->
    <form [formGroup]="form" class="mt-md" novalidate autocomplete="off" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" autofocus formControlName="email" matInput placeholder="Enter your email" required>
        <mat-icon class="icon-light" matSuffix>mail_outline</mat-icon>

        <!-- Errors -->
        <mat-error *ngIf="email?.invalid">
          <ng-container *ngIf="email?.errors?.['required']">{{formErrors['emailRequired']}}</ng-container>
          <ng-container *ngIf="email?.errors?.['email']">{{formErrors['invalidEmail']}}</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Submit -->
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary"
        class="w-full mt-sm btn-height font-bold text-white">
        <span [hidden]="isLoading">RESET PASSWORD</span>
        <fa-icon [hidden]="!isLoading" icon="circle-notch" class="color-theme" [spin]="true" size="xl"></fa-icon>
      </button>

      <!-- Back to login -->
      <div class="text-center mt-sm">
        <a routerLink="../login">
          <span class="text-sm font-bold text-grey spacing-wide">Back to login</span>
        </a>
      </div>

    </form>
  </div>
</div>