@import "./assets/css/theme.scss";

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

