@import "./assets/css/theme.scss";
@import "./assets/css/width-height.scss";
@import "./assets/css/flex.scss";
@import "./assets/css/colors.scss";
@import "./assets/css/padding-margins.scss";
@import "./assets/css/typography.scss";
@import "./assets/css/button.scss";
@import "./assets/css/borders.scss";
@import "./assets/css/utilities.scss";

html {
  height: 100%;
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  background-color: rgb(239 246 255);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
