<div class="h-page flex justify-center items-center bg-img overflow-y-auto">
  <div class="card__container rounded bg-white w-full">
    <!-- Logo -->
    <div class="text-center">
      <app-logo></app-logo>
    </div>

    <h3 class="text-center text-xl font-bold spacing-wide mt-sm">
      Change password
    </h3>

    <p class="text-sm mt-sm text-grey-secondary spacing-wide font-medium">
      * Password should contain a minimum of 8 characters with at least a symbol,
      upper and lower case letters and a number.
    </p>

    <!-- Form -->
    <form
      [formGroup]="form"
      class="mt-md"
      novalidate
      autocomplete="off"
      (ngSubmit)="onSubmit()">
      <!-- Password -->
      <mat-form-field appearance="outline" class="w-full mt-xs">
        <mat-label>New Password</mat-label>
        <input
          autofocus
          formControlName="password"
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          required
          onpaste="return false" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword">
          <mat-icon class="icon-light">{{
            hidePassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>

        <!-- Errors -->
        <mat-error *ngIf="password?.invalid">
          <ng-container *ngIf="password?.errors?.['required']">{{
            formErrors['passwordRequired']
          }}</ng-container>
          <ng-container *ngIf="password?.errors?.['pattern']">{{
            formErrors['strongPassword']
          }}</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field appearance="outline" class="w-full mt-xs">
        <mat-label>Confirm Password</mat-label>
        <input
          formControlName="confirmPassword"
          matInput
          type="password"
          required
          onpaste="return false" />
        <mat-icon matSuffix class="icon-light">lock_outlined</mat-icon>

        <!-- Errors -->
        <mat-error *ngIf="confirmPassword?.invalid">
          <ng-container *ngIf="confirmPassword?.errors?.['required']">{{
            formErrors['passwordRequired']
          }}</ng-container>
          <ng-container *ngIf="confirmPassword?.errors?.['pattern']">{{
            formErrors['strongPassword']
          }}</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Passwords match error -->
      <mat-error *ngIf="form?.errors?.['notSame']" class="text-sm">{{
        formErrors['passwordNotMatching']
      }}</mat-error>

      <!-- Submit -->
      <button
        type="submit"
        [disabled]="isLoading"
        mat-raised-button
        color="primary"
        class="w-full mt-sm btn-height font-bold text-white">
        <span [hidden]="isLoading">CHANGE PASSWORD</span>
        <fa-icon
          [hidden]="!isLoading"
          icon="circle-notch"
          class="color-theme"
          [spin]="true"
          size="xl"></fa-icon>
      </button>
    </form>
  </div>
</div>
