<div class="h-page flex justify-center items-center bg-img">
  <div class="card__container rounded bg-white w-full">
    <!-- Logo -->
    <img src="assets/images/logo/logo.webp" width="100%" alt="Code Syndicates logo">

    <!-- API Error -->
    <div class="mt-sm" *ngIf="loginFailed && !isLoading">
      <app-alert type="error" [title]="formErrors['loginFailed']"></app-alert>
    </div>

    <!-- Form -->
    <form [formGroup]="form" class="mt-md" novalidate autocomplete="off" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Enter your email" required>
        <mat-icon class="icon-light" matSuffix>mail_outline</mat-icon>

        <!-- Errors -->
        <mat-error *ngIf="email?.invalid">
          <ng-container *ngIf="email?.errors?.['required']">{{formErrors['emailRequired']}}</ng-container>
          <ng-container *ngIf="email?.errors?.['email']">{{formErrors['invalidEmail']}}</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="w-full mt-xs">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hidePassword ? 'password' : 'text'" required>
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon class="icon-light">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <!-- Errors -->
        <mat-error *ngIf="password?.invalid">
          <ng-container *ngIf="password?.errors?.['required']">{{formErrors['passwordRequired']}}</ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Forgot password -->
      <div class="text-right">
        <a routerLink="../forgot-password">
          <span class="text-sm font-bold text-grey spacing-wide">Forgot Password ?</span>
        </a>
      </div>

      <!-- Submit -->
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary"
        class="w-full mt-md btn-height font-bold text-white">
        <span [hidden]="isLoading">LOGIN</span>
        <fa-icon [hidden]="!isLoading" icon="circle-notch" class="color-theme" [spin]="true" size="lg"></fa-icon>
      </button>

    </form>
  </div>
</div>